<aside class="widget widget-text">
	<p>
		{{#if @blog.logo}}<img class="brand-logo dark" src="{{@blog.logo}}" alt="{{@blog.title}}" style="height:40px; margin-bottom: 20px;">{{/if}}
		TheDigitalGarage Commnity
	</p>
</aside>